* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --overlay-color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0,
    transparent 60%,
    rgba(0, 0, 0, 0.8)
  );
  --primary-btn-color: #e50914;
  --plain-white: #fff;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.6rem;
  font-family: netflix-sans;
}

a {
  text-decoration: none;
}

.small-btn {
  background-color: var(--primary-btn-color);
  color: var(--plain-white);
  padding: 0.4rem 1.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 0.4rem;
  text-transform: capitalize;
}

.image-overlay {
  position: relative;
}

.image-overlay::before {
  position: absolute;
  content: "";
  inset: 0;
  height: 100%;
  width: 100%;
  background: var(--overlay-color);
}

.hero {
  background: url("../assets/img/background.jpg") no-repeat center/cover;
  height: 100vh;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem;
}

nav img {
  height: 4rem;
}
